openapi: '3.0.0'
info:
  version: 1.0.0
  title: Nomadbill
  license:
    name: MIT
servers:
  - url: https://api.nomadbill.com/v1
paths:
  /documents:
    get:
      summary: Dokumente auflisten
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: Wie viele Elemente auf einmal zurückgegeben werden sollen (max. 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Ein seitenweise paginiertes Array von Dokumenten
          headers:
            x-next:
              description: Ein Link zur nächsten Seite der Antworten
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Dokument erstellen
      operationId: createDocument
      responses:
        201:
          description: Leere Antwort
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Dokument abrufen
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: Die ID des abzurufenden Dokuments
          schema:
            type: string
      responses:
        200:
          description: Erwartete Antwort auf eine gültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders:
    get:
      summary: Ordner auflisten
      operationId: listFolders
      parameters:
        - name: limit
          in: query
          description: Wie viele Elemente auf einmal zurückgegeben werden sollen (max. 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Ein seitenweise paginiertes Array von Ordnern
          headers:
            x-next:
              description: Ein Link zur nächsten Seite der Antworten
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Ordner erstellen
      operationId: createFolder
      responses:
        201:
          description: Leere Antwort
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders/{folderId}:
    get:
      summary: Ordner abrufen
      operationId: showFolderById
      parameters:
        - name: folderId
          in: path
          required: true
          description: Die ID des abzurufenden Ordners
          schema:
            type: string
      responses:
        200:
          description: Erwartete Antwort auf eine gültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: Unerwarteter Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Folder:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Folders:
      type: array
      items:
        $ref: '#/components/schemas/Folder'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
