openapi: '3.0.0'
info:
  version: 1.0.0
  title: NomadBill
  license:
    name: MIT
servers:
  - url: https://api.nomadbill.com/v1
paths:
  /documents:
    get:
      summary: Listar documentos
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: Cuántos elementos se devuelven a la vez (máximo 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Una matriz paginada de documentos
          headers:
            x-next:
              description: Un enlace a la siguiente página de respuestas
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Crear un documento
      operationId: createDocument
      responses:
        201:
          description: Respuesta nula
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Obtener un documento
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: ID del documento que se va a recuperar
          schema:
            type: string
      responses:
        200:
          description: Respuesta esperada para una solicitud válida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders:
    get:
      summary: Listar carpetas
      operationId: listFolders
      parameters:
        - name: limit
          in: query
          description: Cuántos elementos se devuelven a la vez (máximo 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Una matriz paginada de carpetas
          headers:
            x-next:
              description: Un enlace a la siguiente página de respuestas
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Crear una carpeta
      operationId: createFolder
      responses:
        201:
          description: Respuesta nula
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders/{folderId}:
    get:
      summary: Obtener una carpeta
      operationId: showFolderById
      parameters:
        - name: folderId
          in: path
          required: true
          description: ID de la carpeta que se va a recuperar
          schema:
            type: string
      responses:
        200:
          description: Respuesta esperada para una solicitud válida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Folder:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Folders:
      type: array
      items:
        $ref: '#/components/schemas/Folder'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
