openapi: '3.0.0'
info:
  version: 1.0.0
  title: Nomadbill
  license:
    name: MIT
servers:
  - url: https://api.nomadbill.com/v1
paths:
  /documents:
    get:
      summary: Liste des documents
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: Combien d'articles retourner en même temps (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Une gamme de documents paginés
          headers:
            x-next:
              description: Un lien vers la page suivante de réponses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Créer un document
      operationId: createDocument
      responses:
        201:
          description: Réponse nulle
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Obtenir un document
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: L'identifiant du document à récupérer
          schema:
            type: string
      responses:
        200:
          description: Réponse attendue à une demande valide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders:
    get:
      summary: Liste des dossiers
      operationId: listFolders
      parameters:
        - name: limit
          in: query
          description: Combien d'articles retourner en même temps (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Un tableau paginé de dossiers
          headers:
            x-next:
              description: Un lien vers la page suivante de réponses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Créer un dossier
      operationId: createFolder
      responses:
        201:
          description: Réponse nulle
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /folders/{folderId}:
    get:
      summary: Obtenir le dossier
      operationId: showFolderById
      parameters:
        - name: folderId
          in: path
          required: true
          description: L'identifiant du dossier à récupérer
          schema:
            type: string
      responses:
        200:
          description: Réponse attendue à une demande valide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: erreur inattendue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Folder:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Folders:
      type: array
      items:
        $ref: '#/components/schemas/Folder'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string